<div class="row">
    <div class="col">
        <img class="w-100" mdbLazyLoading [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
            [attr.data-src]="posts[0]?.media" alt="'../../../assets/images/skeleton-loading.gif'">
    </div>
    <div class="col">
        <a routerLink="{{'/'+posts[0]?.link}}" class="text-break news-title">{{posts[0]?.title}}</a>
    </div>
</div>
<div class="row pt-4" *ngFor="let item of posts.slice(1,posts.length)">
    <div class="col">
        <img class="w-100" mdbLazyLoading [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
            [attr.data-src]="item.media" alt="'../../../assets/images/skeleton-loading.gif'">
    </div>
    <div class="col">
        <a routerLink="{{'/'+item.link}}" class="text-break news-title">{{item.title}}</a>
    </div>
</div>