<div class="d-flex justify-content-center mt-4">
    <input type="text" name="keyword1" value="" class="w-50" placeholder="Tìm kiếm" [(ngModel)]="keyword" (keypress)="search($event)"/>
    <a [routerLink]="['/search', keyword,get_selected_option()]" type="button"
        class="btn text-primary bg-danger ml-20 search__action"><i class="fas fa-search text-light"></i></a>
</div>
<div class="row d-flex justify-content-center mt-4">
    <div class="col-md-2 col-sm-12 search__q">
        <div class="row">
            <div class="col-4 p-0 mr-25">
                <p class="mt-2 w-100p">Sắp xếp theo</p>
            </div>
            <div class="col-3">
                <select class="sort__by_relevant" (change)="updateOption()">
                    <option value="0">Liên quan</option>
                    <option value="1">Tăng dần</option>
                    <option value="2">Giảm dần</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 search__q">
        <div class="row">
            <div class="col-4 p-0 mr-25">
                <p class="mt-2 w-100p">Thời gian</p>
            </div>
            <div class="col-3">
                <select class="sort__by_date" (change)="updateOption()">
                    <option value="0">Tất cả</option>
                    <option value="1">Tăng dần</option>
                    <option value="2">Giảm dần</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12">
        <div class="row">
            <div class="col-4 p-0 mr-25">
                <p class="mt-2 w-100p">Chuyên mục</p>
            </div>
            <div class="col-3">
                <select class="sort__by_title" (change)="updateOption()">
                </select>
            </div>
        </div>
    </div>

</div>