.container {
  display: flex;
  justify-content: center;

  .contact-panel {
    border: 1px solid black;
    padding: 30px 20px 60px;

    .contact-title {
      color: #467fd7;
      font-weight: bold;
    }

    .input-group {
      margin-top: 20px;

      .input-group-text {
        width: 200px;
      }

      .form-control {
        width: 700px;
      }

      .context {
        height: 150px;
      }
    }
    .submit-panel{
      display: flex;
      flex-direction: row-reverse;
      margin-top: 10px;
    }
  }
}
