<app-navbar></app-navbar>
<div id="overlay" *ngIf="isLoading">
    <div class="circle-loading"></div>
</div>
<div class="container mt-5" *ngIf="posts_list.length > 0">
    <h1 class="fw-bold">{{get_title_by_slug(title)}}</h1>
    <div class="hr__line mt-4"></div>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <div class="row">
                <img [src]="posts_list[0].media" alt="'../../../assets/images/skeleton-loading.gif'" class="w-100"
                    alt="">
            </div>
            <div class="row">
                <div class="col d-flex flex-row-reverse fw-light fs-11">Theo Vietnamnet
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-start">
                    <a routerLink="/{{posts_list[0].link}}" class="hot-title">
                        <h6 class="hot-post">{{posts_list[0].title}}</h6>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-start">
                    <p class="text-start hot-content">{{posts_list[0].description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-start">
                    <p class="fw-light fs-11">{{get_duration(posts_list[0].pubDate||"")}}
                        <span class="p-1"></span>
                        Nguồn : Vietnamnet
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <app-advertisement [url]="'../../../assets/images/ads1.png'"
                        [ref]="'https://hangchinhhieu.vn/collections/laptop-asus-vivobook-pro-1'"></app-advertisement>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <app-advertisement [url]="'../../../assets/images/ads6.png'"
                        [ref]="'https://hangchinhhieu.vn/blogs/tin-khuyen-mai/sam-laptop-chuan-amd-hoc-het-suc-choi-het-minh'">
                    </app-advertisement>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <img [src]="posts_list[1].media" alt="'../../../assets/images/skeleton-loading.gif'" class="w-100"
                    alt="">
            </div>
            <div class="row">
                <div class="col d-flex flex-row-reverse fw-light fs-11">Theo Vietnamnet
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-start">
                    <a routerLink="/{{posts_list[1].link}}" class="hot-title">
                        <h6 class="hot-post">{{posts_list[1].title}}</h6>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-start">
                    <p class="text-start hot-content">{{posts_list[1].description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-start">
                    <p class="fw-light fs-11">{{get_duration(posts_list[1].pubDate||"")}}
                        <span class="p-1"></span>
                        Nguồn : Vietnamnet
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center mt-3">
                    <app-advertisement [url]="'../../../assets/images/ads7.jpeg'"
                        [ref]="'https://websosanh.vn/s/tivi+smart+samsung+43+inch.htm'"></app-advertisement>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div *ngFor="let item of get_posts_with_amount(2,4) ;index as ind">
                <div class="row">
                    <div class="d-flex justify-content-start">
                        <a routerLink="/{{item.link}}" class="hot-title">
                            <h6 class="hot-post">{{item.title}}</h6>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="d-flex justify-content-start">
                            <p class="text-start hot-content">{{item.description}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img [src]="item.media" alt="'../../../assets/images/skeleton-loading.gif'" class="w-100"
                            alt="">
                    </div>
                </div>
                <div class="row mb-3" [ngClass]="ind <1 ? 'border-bottom':''">
                    <div class="d-flex justify-content-start">
                        <p class="fw-light fs-11">{{get_duration(item.pubDate||"")}}
                            <span class="p-1"></span>
                            Nguồn : Vietnamnet
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top lazy">
        <div class="col-md-3 p-3" *ngFor="let item of get_posts_with_amount(5,9)">
            <div class="row">
                <img [attr.data-src]="item.media" mdbLazyLoading
                    [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'" class="img__sub" alt="">
            </div>
            <div class="row mt-3 w-90">
                <div class="d-flex justify-content-start">
                    <a routerLink="/{{item.link}}" class="hot-title">
                        <h6 class="new__post">{{item.title}}</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hr__line mt-2"></div>
    <div class="row mt-3">
        <h1>Mới nhất</h1>
    </div>
    <div class="hr__line mt-2"></div>
    <newest-post [articles]="get_posts_with_amount(9,posts_list.length)"></newest-post>
</div>
<app-footer></app-footer>