.newsFeature__header-title {
  font-weight: bold;
  color:black;
}

.newsFeature__main img {
  width: 100%;
}

.newFeature__main-textBold {
  font-weight: bold;
}

#maincontent {
  margin-top: 1.5rem;
}

iframe {
  width: 100%;
}

.video-detail__text h1 {
  font-weight: bold;
  color: black;
}
