<div class="row mt-5 lazy" *ngFor="let item of articles">
    <div class="col-md-2">
        <div class="d-flex justify-content-start">
            <p class="fw-light fs-11">{{get_time_in_words(item?.pubDate||"")}}
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="d-flex justify-content-start">
                <a routerLink="/{{item?.link}}" class="hot-title">
                    <h6 class="hot-post">{{item?.title}}</h6>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-start">
                <p class="text-start hot-content">{{item?.description}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <img [attr.data-src]="item?.media" mdbLazyLoading
                [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'" class="img__sub" alt="">
        </div>
    </div>
</div>