<div class="container">
  <div class="contact-panel w-50 ">
    <div class="contact-title"><h1>Liên hệ tòa soạn</h1></div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text border-0" id="input-name"><strong>Họ và Tên</strong></span>
      <input type="text" class="form-control" placeholder="Họ và Tên" aria-label="name"
             aria-describedby="addon-wrapping"/>
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text border-0" id="input-email"><strong>Email</strong></span>
      <input type="text" class="form-control" placeholder="Email" aria-label="email"
             aria-describedby="addon-wrapping"/>
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text border-0" id="input-title"><strong>Tiêu đề</strong></span>
      <input type="text" class="form-control" placeholder="Nhập tiêu đề" aria-label="title"
             aria-describedby="addon-wrapping"/>
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text border-0" id="input-address"><strong>Chọn file</strong></span>
      <input type="file" class="form-control" placeholder="file" aria-label="file"
             aria-describedby="addon-wrapping"/>
    </div>

    <div class="input-group flex-nowrap">
      <span class="input-group-text border-0" id="input-text-field"><strong>Nội dung</strong></span>
      <textarea class="form-control context rounded" aria-label="With textarea"></textarea>
    </div>

  </div>
</div>
