<div id="search__overlay" class="overlay">
    <span class="close" (click)="closeSearchBox()" title="Close">×</span>
    <div class="overlay-content d-flex justify-content-center">
        <form class="w-100">
            <input mdbInput type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Search" name="keyword"
                ngModel [(ngModel)]="keyword" [value]="keyword">
            <a [routerLink]="['/search', keyword,'od=0&time=0&title=chinh-tri']"
                class="button__search btn bg-danger text-center" type="button" (click)="closeSearchBox()"><i
                    class="fas fa-search text-light"></i></a>
        </form>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" routerLink="/home" title="Home"><span id="custom-brand">
                <img src="../../../assets/images/logo.png" alt="" class="app__logo">
            </span></a>
        <div class="justify-content-end">
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        <i class="fas fa-user-alt text-muted"></i>
                        <div class="dropdown-content">
                            <a class="nav-link" *ngIf="!currentUser.email" href="/signin"><button
                                    class="btn btn-rounded btn__login">Đăng
                                    nhập</button></a>
                            <div *ngIf="currentUser.email">
                                <p class="border-bottom w-100 cursor-df"><b>Xin chào {{currentUser.email}}</b></p>
                                <a class="nav-link text-dark hover-half__opacity" href="/profile">Thông tin tài
                                    khoản</a>
                                <a class="nav-link cursor-pointer text-dark hover-half__opacity"
                                    (click)="signOut()">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-2">
                    <a class="mr-20" (click)="openSearchBox()"><i class="fas fa-search text-muted"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light custom-navbar bg-light main__navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa-solid fa-sliders"></i></span>
        </button>
        <div class="w-100">
            <div class="collapse navbar-collapse  justify-content-center" id="navbarScroll">
                <ul class="nav my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;" id="menu">
                    <li class="nav-item">
                        <a class="nav-link news-topic text-dark" aria-current="page" routerLink="/home"><i
                                class="fas fa-home fs-4"></i></a>
                    </li>
                    <li class="nav-item news-topic fw-bold" *ngFor="let item of feeds_list">
                        <a class="nav-link  text-dark" aria-current="page"
                            [routerLink]="'/chu-de/'+item?.slug">{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>