<div class="popconfirm-popover shadow-4">
  <div class="popconfirm">
    <p class="popconfirm-message">
      <span class="popconfirm-message-text">Bạn có muốn xóa tài khoản?</span>
    </p>
    <div class="popconfirm-buttons-container">
      <button (click)="popupconfirmRef.close()" type="button" aria-label="Cancel" class="btn btn-flat btn-sm">
        Cancel
      </button>
      <button (click)="popupconfirmRef.confirm()" type="button" aria-label="Confirm" class="btn btn-primary btn-sm">
        OK
      </button>
    </div>
  </div>
</div>
