<app-navbar></app-navbar>
<div id="overlay" *ngIf="isLoading">
    <div class="circle-loading"></div>
</div>
<div class="container w-90 mt-5 post__details">
    <div class="row">
        <div class="col-md-8">
            <div class="post__content">
                <div [innerHtml]="post_details"></div>
            </div>
            <div class=" post__comments mt-5 mb-5">
                <div class="row mt-5">
                    <h2>Bình luận</h2>
                </div>
                <form [formGroup]="postCommentForm" (ngSubmit)="post_comment()">
                    <input type="hidden" name="article_id" formControlName="article_id">
                    <div class="row mt-4">
                        <textarea cols="25" rows="3" placeholder="Nội dung" formControlName="content"
                            class="form-control w-95" placeholder="Nội dung"
                            aria-describedby="addon-wrapping"></textarea>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <input type="email" name="email" placeholder="Email" formControlName="email"
                                class="form-control" placeholder="Email" aria-describedby="addon-wrapping">
                        </div>
                        <div class="col">
                            <input type="text" name="fullname" placeholder="Họ và tên" formControlName="fullname"
                                class="form-control" placeholder="Họ và tên" aria-describedby="addon-wrapping">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-rounded" id="button-accept-register"
                                mdbRipple rippleColor="danger">
                                Gửi
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="comments mt-1" *ngIf="comments_list.length ===0">
                <div class="container">
                    <div class="row">
                        <p class="text-center"><i class="far fa-newspaper fs-40 p-3"></i> Hãy là người đầu tiên bình
                            luận trong
                            bài.</p>
                    </div>
                </div>
            </div>
            <div class="comments mt-1" *ngIf="comments_list.length > 0">
                <div class="comment">
                    <div class="col-md-1">
                        <div class="row">
                            <div class="col-7 user__avatar">
                                <div class="rounded-circle bg-dark text-center">
                                    <p class="text-light">{{comments_list[0].fullname.charAt(0)}}</p>
                                </div>
                            </div>
                            <div class="col-5">
                                <p>{{comments_list[0].email}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col cmt__content">
                            <p>{{comments_list[0].content}}</p>
                        </div>
                    </div>
                </div>
                <div class="comment mt-2" *ngFor="let item of get_posts_comment_with_amount(1,comments_list.length)">
                    <post-comment [comment]="item"></post-comment>
                </div>
            </div>
            <div class="related__posts mt-3">
                <div class="border-bottom">
                    <h2>Tin liên quan</h2>
                </div>
                <div class="post row mt-3" *ngFor="let item of get_posts_with_amount(0,5)">
                    <div class="col-md-3 col-sm-12">
                        <img src="{{item?.media}}" alt="'../../assets/images/skeleton-loading.gif'" class="w-100">
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="row w-100">
                            <a routerLink="/bai-viet/{{item?.link}}" class="rel__link">
                                <h6>{{item?.title}}</h6>
                            </a>
                        </div>
                        <div class="row w-100">
                            <p>{{item?.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button *ngIf="isSignin==true" (click)="save_post()"
                class="btn btn-outline-danger btn-rounded btn__save--post" mdbTooltip="Lưu bài viết" placement="top"><i
                    class="far fa-bookmark"></i></button>
            <div class="p-4 ads__banner">
                <div class="mt-5">
                    <app-advertisement [url]="'../../../assets/images/ads7.jpeg'"
                        [ref]="'https://websosanh.vn/s/tivi+smart+samsung+43+inch.htm'"></app-advertisement>
                </div>
                <div class="mt-5">
                    <app-advertisement [url]="'../../../assets/images/ads8.jpg'"
                        [ref]="'https://shopee.vn/m/sale-cuoi-thang-don-luong-ve'"></app-advertisement>
                </div>
                <div class="mt-5">
                    <app-advertisement [url]="'../../../assets/images/ads9.jpg'"
                        [ref]="'https://tiki.vn/khuyen-mai/sieu-hoi-doi-song'"></app-advertisement>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>