<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="row">
                    <img src="../../../assets/images/hot-image.jpg" alt="Stephen Maturen/Getty Images" class="w-100">
                </div>
                <div class="row">
                    <div class="col d-flex flex-row-reverse fw-light fs-11">IMAGE SOURCE
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <p class="fs-11">Lorem</p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <a href="" class="hot-title">
                            <h6 id="hot-post">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h6>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <p class="text-center hot-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit
                            Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit, amet consectetur adipisicing
                            elit</p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <p class="fw-light fs-11">33m ago
                            <span class="p-1"></span>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 line-part">
            <h6>HOT NEWS</h6>
            <div class="p-1"></div>

            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="news-title">
                        <h6 class="fs-20 news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h6>
                    </a>
                </div>
                <div class="col-md-4"><img class="post__image" src="../../../assets/images/hot-img.jpg" alt></div>
                <div class="col-md-9">
                    <p class="news-content">Lorem ipsum dolor sit, amet consectetur adipisicing elitLorem ipsum dolor
                        sit, amet consectetur adipisicing elit
                    </p>
                    <p class="fw-light fs-11 credit">7h ago
                        <span class="p-1">-</span>
                        By Lorem ipsum dolor sit, amet consectetur adipisicing elit
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="news-title">
                        <h6 class="fs-20 news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</h6>
                    </a>
                </div>
                <div class="col-md-4"><img class="post__image" src="../../../assets/images/hot-img.jpg" alt></div>
                <div class="col-md-9">
                    <p class="news-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit
                    </p>
                    <p class="fw-light fs-11 credit">7h ago
                        <span class="p-1">-</span>
                        By Lorem ipsum dolor sit, amet consectetur adipisicing elit
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="news-title">
                        <h6 class="fs-20 news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit
                        </h6>
                    </a>
                </div>
                <div class="col-md-4"><img class="post__image" src="../../../assets/images/hot-img.jpg" alt></div>
                <div class="col-md-9">
                    <p class="news-content">Lorem ipsum dolor sit, amet consectetur adipisicing elitLorem ipsum dolor
                        sit, amet consectetur adipisicing elit
                    </p>
                    <p class="fw-light fs-11">7h ago
                        <span class="p-1">-</span>
                        By Lorem ipsum dolor sit, amet consectetur adipisicing elit
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row sub__posts mt-5 lazy d-flex justify-content-between lazy">
        <div class="col-md-2 p-3">
            <div class="row">
                <img mdbLazyLoading [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                    [attr.data-src]="'../../../assets/images/sub-img.jpg'" alt="404" class="img-fluid my-3" />
            </div>
            <div class=" row">
                <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</a>
            </div>
        </div>
        <div class="col-md-2 p-3">
            <div class="row">
                <img mdbLazyLoading [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                    [attr.data-src]="'../../../assets/images/sub-img.jpg'" alt="404" class="img-fluid my-3" />
            </div>
            <div class=" row">
                <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</a>
            </div>
        </div>
        <div class="col-md-2 p-3">
            <div class="row">
                <img mdbLazyLoading [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                    [attr.data-src]="'../../../assets/images/sub-img.jpg'" alt="404" class="img-fluid my-3" />
            </div>
            <div class=" row">
                <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</a>
            </div>
        </div>
        <div class="col-md-2 p-3">
            <div class="row">
                <img mdbLazyLoading [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                    [attr.data-src]="'../../../assets/images/sub-img.jpg'" alt="404" class="img-fluid my-3" />
            </div>
            <div class=" row">
                <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</a>
            </div>
        </div>
        <div class="col-md-2 p-3">
            <div class="row">
                <img mdbLazyLoading [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                    [attr.data-src]="'../../../assets/images/sub-img.jpg'" alt="404" class="img-fluid my-3" />
            </div>
            <div class=" row">
                <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</a>
            </div>
        </div>
    </div>
    <div class="row new__posts mt-5 lazy">
        <div class="col-md-3 first__column border-end">
            <div class="row">
                <div class="col">
                    <img class="w-100" mdbLazyLoading
                        [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                        [attr.data-src]="'../../../assets/images/hot-img.jpg'" alt>
                </div>
                <div class="col">
                    <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit</a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <img class="w-100" mdbLazyLoading
                        [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                        [attr.data-src]="'../../../assets/images/hot-img.jpg'" alt>
                </div>
                <div class="col">
                    <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit</a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <img class="w-100" mdbLazyLoading
                        [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                        [attr.data-src]="'../../../assets/images/hot-img.jpg'" alt>
                </div>
                <div class="col">
                    <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 middle__column">
            <div class="row border-bottom">
                <h3><a href="" class="text-body">News category here</a></h3>
            </div>
            <div class="row p-4">
                <div class="col-md-3">
                    <img class="w-100" mdbLazyLoading
                        [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                        [attr.data-src]="'../../../assets/images/new-img.jpg'" alt="404" />
                </div>
                <div class="col-md-9">
                    <a href="" class="news-title">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.Lorem ipsum</a>
                </div>
            </div>
            <div class="row p-4 pt-0">
                <a href="" class="news-title mt-3">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                <a href="" class="news-title mt-3">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                <a href="" class="news-title mt-3">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                <a href="" class="news-title mt-3">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                <a href="" class="news-title mt-3">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
            </div>
        </div>
        <div class="col-md-3 last__column border-start">
            <div class="row">
                <div class="col">
                    <img class="w-100" mdbLazyLoading
                        [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                        [attr.data-src]="'../../../assets/images/hot-img.jpg'" alt>
                </div>
                <div class="col">
                    <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit</a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <img class="w-100" mdbLazyLoading
                        [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                        [attr.data-src]="'../../../assets/images/hot-img.jpg'" alt>
                </div>
                <div class="col">
                    <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit</a>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <img class="w-100" mdbLazyLoading
                        [loadingPlaceholder]="'../../../assets/images/skeleton-loading.gif'"
                        [attr.data-src]="'../../../assets/images/hot-img.jpg'" alt>
                </div>
                <div class="col">
                    <a href="" class="text-break news-title">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>