<app-navbar></app-navbar>
<div id="overlay" *ngIf="isLoading">
    <div class="circle-loading"></div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="row">
                    <img [src]="ts_news[0]?.media" alt="'../../../assets/images/skeleton-loading.gif'" class="w-100">
                </div>
                <div class="row">
                    <div class="col d-flex flex-row-reverse fw-light fs-11">Theo Vietnamnet
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <a [href]="'chu-de/'+get_slug(ts_news[0]?.category||'')">
                            <p class="fs-11 text-muted">{{ts_news[0]?.category}}</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <a href="{{ts_news[0]?.link}}" class="hot-title" target="_blank">
                            <h6 id="hot-post">{{ts_news[0]?.title}}</h6>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <p class="text-center hot-content">{{ts_news[0]?.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <p class="fw-light fs-11">{{get_duration(ts_news[0]?.pubDate||"")}}
                            <span class="p-1"></span>
                            Nguồn : Vietnamnet
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 line-part">
            <h6>TIN NÓNG</h6>
            <div class="p-1"></div>

            <div class="row" *ngFor="let item of get_list_with_amount(1,4,ts_news);">
                <div class="col-md-6">
                    <a href="{{item.link}}" class="news-title" target="_blank">
                        <h6 class="fs-20 news-title">{{item.title}}</h6>
                    </a>
                </div>
                <div class="col-md-4"><img class="post__image" src="{{item.media}}" alt></div>
                <div class="col-md-9">
                    <p class="news-content">{{item.description}}
                    </p>
                    <p class="fw-light fs-11 credit">{{get_duration(item.pubDate||"")}}
                        <span class="p-1">-</span>
                        Nguồn : Vietnamnet
                    </p>
                </div>
            </div>
        </div>
    </div>
    <sub-posts [subPosts]="get_home_list_with_amount(4,9)"></sub-posts>
    <div class="row new__posts mt-5 lazy">
        <div class="col-md-3 first__column border-end">
            <sub-hot [posts]="get_home_list_with_amount(10,27)"></sub-hot>
        </div>
        <!-- middle column -->
        <div class="col-md-6 middle__column">
            <!-- start new article -->
            <sub-new [posts]="get_list_with_amount(5,10,ts_news)" [title]="'Thời sự'"></sub-new>
            <!-- end new article -->
            <!-- start new article -->
            <sub-new [posts]="get_list_with_amount(0,5,tech_news)" [title]="'Công nghệ'"></sub-new>
            <!-- end new article -->
            <!-- start new article -->
            <sub-new [posts]="get_list_with_amount(0,5,business_news)" [title]="'Kinh doanh'"></sub-new>
            <!-- end new article -->
            <!-- start new article -->
            <sub-new [posts]="get_list_with_amount(0,5,world_news)" [title]="'Thế giới'"></sub-new>
            <!-- end new article -->
            <!-- start new article -->
            <sub-new [posts]="get_list_with_amount(0,5,sport_news)" [title]="'Thể thao'"></sub-new>
            <!-- end new article -->
            <!-- start new article -->
            <sub-new [posts]="get_list_with_amount(0,5,education_news)" [title]="'Giáo dục'"></sub-new>
            <!-- end new article -->
        </div>
        <!-- last column -->
        <div class="col-md-3 last__column border-start">
            <sub-hot [posts]="get_list_with_amount(28,45,article_list)"></sub-hot>
        </div>
    </div>
</div>
<app-footer></app-footer>