.not__found {
  padding: 100px;
}
h1 {
  font-size: 200px;
  font-weight: bold;
  color: #151515;
}

h2 {
  font-weight: bold;
  color: #151515;
}

.back__to__home {
  a {
    button {
      font-size: 105%;
      font-weight: 600;
    }
  }
}

input[name="keyword"] {
  border-radius: 20px;
}
