<div class=" footer w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row banner">
                    <h1><a routerLink="/home">worldnow</a></h1>
                </div>
                <div class="row">
                    <p class="text-break">WORLDNOW trang thông tin chính thức và chuẩn xác nhất.</p>
                </div>
            </div>
            <div class="col-md-6 contact__section">
                <div class="row">
                    <h3 class="pt-1 pb-1">Liên hệ</h3>
                </div>
                <div class="row mt-3">
                    <p><i class="fas fa-map-marker-alt"></i> Địa chỉ : Trường Đại Học Nông Lâm Thành Phố Hồ Chí Minh
                        Khu phố 6, Phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh
                    </p>
                </div>
                <div class="row">
                    <p><i class="fas fa-phone-alt"></i> Điện thoại : 0987654321 </p>
                </div>
                <div class="row contact__email">
                    <p><i class="fas fa-envelope"></i> Email : 19130073@st.hcmuaf.edu.vn </p>
                    <p><i class="p-4"></i>19130078@st.hcmuaf.edu.vn <br> </p>
                    <p><i class="p-4"></i>19130031@st.hcmuaf.edu.vn <br> </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center socials__link">
                <div class="col-1"><a href="https://www.facebook.com/group36fe/" target="_blank"><i
                            class="fab fa-facebook-f"></i>Facebook</a></div>
                <div class="col-1"><a href="https://twitter.com/home" target="_blank"><i
                            class="fab fa-twitter"></i>Twitter</a></div>
                <div class="col-1"><a href="https://github.com/hadesdday/NewsApp_Nhom36_FE_Thu2Ca4_HK2_2022"
                        target="_blank"><i class="fab fa-github"></i>Github</a></div>
            </div>
        </div>
    </div>
</div>